@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  overflow-x:hidden;
  font-size: 14px;
/*  cursor: url('/cursor.svg'), url('/cursor.png'), auto;*/
  cursor: url('/cursor.svg') 6 6, auto;
/*  cursor: -webkit-image-set(url('/cursor@2x.svg') 2x) 4 4, auto;*/
} 

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  a {
    @apply hover:text-highlight hover:underline underline-offset-1;
  }

  p {
    @apply mb-4;
  }

  .btn {
    @apply inline-flex items-center bg-dark hover:bg-highlight text-light hover:text-white px-2 py-1;
  }
}


@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fadein {

  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.fade-in {
  animation: fadein .3s ease-in;
}

#logo {
  transform: scaleY(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;
}

main section:first-of-type {
  padding-top: 108px; 
  display: block;
}

@media screen and (min-width: 640px) {
  .rotate-tab-title {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(90deg);
      transform-origin: 20px 42px;
      white-space: nowrap;
      width: calc(100vh - 3rem);
  }  
}

.wysiwyg-content ul {
  list-style: disc;
  margin-bottom: 1em;
}

.wysiwyg-content li {
  margin-left: 2em;
  line-height: 2;
}

.wysiwyg-content a {
  font-weight: 500;
}

.wysiwyg-content h2 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.tox.tox-tinymce {
  border-radius: 0;
}

.rbc-btn-group, .rbc-month-view, .rbc-time-view, .rbc-agenda-view {
  background-color: white;
}

.rbc-toolbar-label {
  font-weight: 500;
}